/* ==============
Table of Contents 
===============*/

/*
1. Global Styles
2. Typography
*/

/*
=== GLOBAL STYLES ===
*/
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Victor Mono Medium", monospace;
  color: #f2f2f2;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  font-size: 25px;
  padding: 30px 80px;
  transition: 0.4s;
  background-color: black;
}

.full-name {
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: 900;
}

.full-name a{
  text-decoration: none;
  color: #f2f2f2;
}

.full-name a:hover{
  cursor: pointer;
  color: #bacdce;
}

nav li {
  display: inline;
  float: left;
  text-align: center;
  list-style-type: none;
  padding: 1rem;
}

nav li a {
  text-decoration: none;
  transition: 0.5s;
  position: relative;
  display: block;
  padding: 4px 0;
  color: #f2f2f2;
}

nav li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgb(85, 85, 221);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

nav li a:hover {
  color: #bacdce;
}

nav li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.spacer{
padding-top: 176px;
background-color: rgb(85, 85, 221);
}

.container {
  background-color: rgb(85, 85, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7em;
}

.about {
  display: flex;
  align-items: center;
}

.bio {
  flex: 1 0 auto;
}
.prof-pic{
  flex: 0 1 auto;
  margin-right: 2em;
  margin-bottom: 5em;
}

.prof-pic img {
  border-radius: 50%;
}

.bio {
  font-size: 25px;
}

/* mobile view*/
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  #nav {
    padding: 20px 10px !important;
  }

  nav a {
    float: none;
    display: block;
    text-align: left;
  }
  nav li a {
    float: none;
  }
}